<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Cryptocurrency Website">
    <meta name="keywords" content="USYD, website">
    <link href="/stylesheets/reset.css" rel="stylesheet">
    <link href='/stylesheets/style.css' rel='stylesheet'>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/javascripts/home.js" type="text/javascript"></script>
    <script src="/javascripts/echarts.js" type="text/javascript"></script>
</head>

<body>
    <h>I'm here!</h>
    <p>Welcome to your home, <%=user%></p>
    <button id="logout">Logout</button>
</body>
</html>
