<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Cryptocurrency Website">
    <meta name="keywords" content="USYD, website">
    <!--<link href="/stylesheets/reset.css" rel="stylesheet">-->
    <!--<link href='/stylesheets/style.css' rel='stylesheet'>-->
    <link href='/stylesheets/home.css' rel='stylesheet'>
    <link href='/stylesheets/bootstrap-theme.css' rel='stylesheet'>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/javascripts/home.js" type="text/javascript"></script>
    <script src="/javascripts/echarts.js" type="text/javascript"></script>
    <script src="/javascripts/world.js" type="text/javascript"></script>
    <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>

<body>

<!--<div class="txt">-->
<!--<p class="btn">-->
<!--<span id="toggle-sidebar">NEWS</span>-->
<!--</p>-->
<!--</div>-->

<!--<div class="sidebar" id="dowebok">-->
<!--<div class="sidebar-wrapper" id="sidebar-wrapper">-->
<!--<ul class="nav">-->
<!--<li><a href="http://www.dowebok.com/">dowebok</a></li>-->
<!--<li><a href="http://www.dowebok.com/code">代码</a></li>-->
<!--<li><a href="http://www.dowebok.com/material">素材</a></li>-->
<!--<li><a href="http://www.dowebok.com/template">模板</a></li>-->
<!--<li><a href="http://www.dowebok.com/contact">联系</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->

<section id="container" >
    <header class="header dark-bg">

        <a href="home" class="logo"><img src="images/logo.png" width="120"  ></a>

        <div class="navi">
            <a href="home">Home</a>
            <a id="worldMap" href="#map">Charts</a>
        </div>

        <div class="pull-right">
            <div class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle">
                    <span class="username"><%=user%></span>
                    <input id="hidden_preference" name="hid" type="hidden" value="<%=preference %>" />
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a id="setting">Setting</a>
                    </li>
                    <li>
                        <a id="logout">Log Out</a>
                    </li>
                </ul>
            </div>

            <div class="preference">
                <select type="text" name="preference" id="preference" class="aaa">
                    <option value="BTC-USD">BTC-USD</option>
                    <option value="BTC-GBP">BTC-GBP</option>
                    <option value="BTC-EUR">BTC-EUR</option>
                    <option value="ETC-USD">ETC-USD</option>
                    <option value="ETC-GBP">ETC-GBP</option>
                    <option value="ETC-EUR">ETC-EUR</option>
                </select>
            </div>




            <button type="button" class="hamburger is-closed animated fadeInLeft" id="news" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
            </button>

        </div>

    </header>



    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="#"></a>
            </li>
            <li>
                    <!--<a href="#"><i class="fa fa-fw fa-cog"></i>-->
                    <!--<div class = "box">-->
                    <table class = "tab">
                        <tr class="tr1">
                            <td id="co1" rowspan = "2">
                                <a>
                                    <img id="image0" />
                                </a>
                            </td>
                            <td class="award-name">
                                <strong><a href="" id="title0"></a></strong>
                            </td>
                        </tr>

                        <tr class="tr2">
                            <td class="award-name" id="description0" ></td>
                        </tr>
                    </table>

                <!--</div>-->
                <!--</a>-->
            </li>
            <li>

                <!--<a href="#"><i class="fa fa-fw fa-cog"></i>-->
                    <table class = "tab">
                        <tr class="tr1">
                            <td id="co1" rowspan = "2">
                                <a >
                                    <img id="image1"/>
                                </a>
                            </td>
                            <td class="award-name">
                                <strong><a href="" id="title1"></a></strong>
                            </td>
                        </tr>

                        <tr class="tr2">
                            <td class="award-name" id="description1" ></td>
                        </tr>
                    </table>

            </li>
            <li>
                <!--<a href="#"><i class="fa fa-fw fa-cog"></i>-->
                    <table class = "tab">
                        <tr class="tr1">
                            <td id="co1" rowspan = "2">
                                <a >
                                    <img id="image2" />
                                </a>
                            </td>
                            <td class="award-name">
                                <strong><a href="" id="title2"></a></strong>
                            </td>
                        </tr>

                        <tr class="tr2">
                            <td class="award-name" id="description2" ></td>
                        </tr>
                    </table>
                </a>
            </li>
            <li>
                <!--<a href="#"><i class="fa fa-fw fa-cog"></i>-->
                    <table class = "tab">
                        <tr class="tr1">
                            <td id="co1" rowspan = "2">
                                <a >
                                    <img id="image3" />
                                </a>
                            </td>
                            <td class="award-name">
                                <strong><a href="" id="title3"></a></strong>
                            </td>
                        </tr>

                        <tr class="tr2">
                            <td class="award-name" id="description3" ></td>
                        </tr>
                    </table>
                </a>
            </li>
            <li>
                <!--<a href="#"><i class="fa fa-fw fa-cog"></i>-->
                    <table class = "tab">
                        <tr class="tr1">
                            <td id="co1" rowspan = "2">
                                <a >
                                    <img id="image4" />
                                </a>
                            </td>
                            <td class="award-name">
                                <strong><a href="" id="title4"></a></strong>
                            </td>
                        </tr>

                        <tr class="tr2">
                            <td class="award-name" id="description4" ></td>
                        </tr>
                    </table>
                </a>
            </li>
        </ul>
    </nav>





    <section id="main-content">
        <section class="wrapper">

            <!--<div class="banner_row1">-->

            <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">-->
            <!--<div class="info-box">-->
            <!--<h1 id="home_head_h1"> </h1>-->
            <!--</div>&lt;!&ndash;/.info-box&ndash;&gt;-->
            <!--</div>&lt;!&ndash;/.col&ndash;&gt;-->

            <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">-->
            <!--<div class="info-box" id="banner_md">-->
            <!--<h2 id="LastPrice">Last Price:</h2>-->
            <!--<h3 id="24hrVolume">24hr Volume:</h3>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">-->
            <!--<div class="info-box" id="bitlogo">-->
            <!--<img class="img1" src="images/bitcoin.png" >-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <div class="container_dad" >
                <div class="row">
                    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                        <!--<p style="color: #fcfcfc; font-weight: 700; font-size: 36px; font-family: 'Karla', san-serif;">FUN FACTS<span style="font-size: 16px; font-family: 'Karla', san-serif;"><br/>LETS SEE OUR SOME HISTORY OF OURS</span></p>-->
                    <!--</div>-->
                    <div class="banner_row1">

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="info-box">
                                <h1 id="home_head_h1"> </h1>
                            </div><!--/.info-box-->
                        </div><!--/.col-->

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="info-box" id="banner_md">
                                <h3 id="LastPrice">Last Price:</h3>
                                <h3 id="24hrVolume">24hr Volume:</h3>
                            </div>
                        </div>

                        <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">-->
                            <!--<div class="info-box" id="bitlogo">-->
                                <!--<img class="img1" src="images/bitcoin.png" >-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>

                </div>
                <div class="row" style="margin:100px 0 0; text-align: center;">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align: center;">
                        <a class="fig">
                            <p class = "timer" data-to="1700" data-speed="1500" data-decimals="2">0</p>
                            <span style="font-size: 25px; font-family: 'Karla', san-serif;">Last Price</span>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align: center;">
                        <a class="fig">
                            <p class = "timer" data-to="1700" data-speed="1500" data-decimals="2">0</p>
                            <span style="font-size: 25px; font-family: 'Karla', san-serif;">24Hr Volume</span>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align: center;">
                        <a class="fig">
                            <p class = "timer" data-to="1700" data-speed="1500" data-decimals="2">0</p>
                            <span style="font-size: 25px; font-family: 'Karla', san-serif;">Ask</span>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align: center;">
                        <a class="fig">
                            <p class = "timer" data-to="1700" data-speed="1500" data-decimals="2">0</p>
                            <span style="font-size: 25px; font-family: 'Karla', san-serif;">Bid</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="banner2">
                <div class="banner_row3">
                    <!--<h1>Know The Digital World</h1>-->
                    <div class="carousel slide media-carousel" id="media">
                        <div class="carousel-inner">

                            <div class="item  active">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <div class="info-box">
                                        <!--<i class="fa"><img src="images/coins.png"></i>-->
                                        <div><img class="img2" src="images/coins.png"></div>
                                        <div id="type">BTC-USD</div>
                                        <div id="price1" class="price">loading</div>
                                        <div id="volume1" class="volume">loading</div>
                                    </div><!--/.info-box-->
                                </div><!--/.col-->

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <div class="info-box">
                                        <div><img class="img2" src="images/coins.png"></div>
                                        <div id="type">BTC-GBP</div>
                                        <div id="price2" class="price">loading</div>
                                        <div id="volume2" class="volume">loading</div>
                                    </div><!--/.info-box-->
                                </div><!--/.col-->

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <div class="info-box">
                                        <div><img class="img2" src="images/coins.png"></i>
                                            <div id="type">BTC-EUR</div>
                                            <div id="price3" class="price">loading</div>
                                            <div id="volume3" class="volume">loading</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item  next">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <div class="info-box">
                                        <!--<i class="fa"><img src="images/coins.png"></i>-->
                                        <div><img class="img2" src="images/coins.png"></div>
                                        <div id="type">ETC-USD</div>
                                        <div id="price4" class="price">loading</div>
                                        <div id="volume4" class="volume">loading</div>
                                    </div><!--/.info-box-->
                                </div><!--/.col-->

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <div class="info-box">
                                        <div><img class="img2" src="images/coins.png"></div>
                                        <div id="type">ETC-GBP</div>
                                        <div id="price5" class="price">loading</div>
                                        <div id="volume5" class="volume">loading</div>
                                    </div><!--/.info-box-->
                                </div><!--/.col-->

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <div class="info-box">
                                        <div><img class="img2" src="images/coins.png"></i>
                                            <div id="type">ETC-EUR</div>
                                            <div id="price6" class="price">loading</div>
                                            <div id="volume6" class="volume">loading</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                        <a data-slide="next" href="#media" class="right carousel-control">›</a>

                    </div>


                </div>

                <div class="row3">
                    <div class="col-lg-9 col-md-9">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2>
                                    <!--<i class="fa fa-map-marker red"></i>-->
                                    <img class = "tu" src="images/chart_logo.png"/></h2>
                                <button id="candle_chart" input class="flag but" type="button" onclick="dj(this);">Candle</button>
                                <button id="map_chart" input class="flag but" type="submit" onclick="dj(this);">World Map</button>
                                <button id = "orderbook_chart" input class="flag but" type="submit" onclick="dj(this);">Order</button>
                                <button id = "compare_price" input class="flag but" type="submit" onclick="dj(this);">Compare</button>
                                <button id = "test_world" input class="flag but" type="submit" onclick="dj(this);">Test_World</button>
                                <!--<button id = "test_chart">TEST</button>-->
                                <!--<div class="panel-actions">-->
                                <!--<a href="index.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>-->
                                <!--<a href="index.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>-->
                                <!--<a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>-->
                                <!--</div>-->
                            </div>
                            <!--charts-->
                            <div class="panel-body-map">
                                <div id="map"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!-- Footer -->
    <section id="footer">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-5 col-md-3">
                <ul class="list-unstyled quick-links">
                    <li><a href="/home"><i class="fa fa-angle-double-right"></i>Home</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-3">
                <ul class="list-unstyled quick-links">
                    <li><a id="ser-input"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <div class="search-full-view">
                        <div class="input-group">
                            <h2>About</h2>
                            <p class="text-left">The project aims to construct a dynamic website that visualizes real-time data of multi-cryptocurrency exchanges through various charts and promote users’ insight into the cryptocurrency market trend. The website consists of the landing page, register page, login page, setting page, navigation bar, News, several official parameters, three professional charts including real-time candlestick, price trend and order book, global transactions on the world map.
                                So far, the project is consistent with the schedule based on the project proposal. Almost all requirements have been realized, all functions and the display of the website have been completed. Specifically, MVC architecture has been employed successfully to fit suitable data-structures to present real-time exchanges. The recordings of the cryptocurrency-exchange transaction can be achieved via several official sources such as GDAX (API). They will be invoked once a minute and be saved into a local database (MongoDB). At the same time, those undigested data will be presented with three different professional charts: candlestick, price trend and order book.</p>
                        </div>
                        <button class="btn btn-close" id="search-close"> <img src="http://d9hhrg4mnvzow.cloudfront.net/www2.iweb.com/windows-server-2016/ed5b870c-clear-close-cancel-white.png"></button>
                    </div>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-3">
                <ul class="list-unstyled quick-links">
                    <li><a href="https://github.sydney.edu.au/shwu6127/COMP5703_22_3"><i class="fa fa-angle-double-right"></i>Github</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-3">
                <ul class="list-unstyled quick-links">
                    <li><a href="https://sydney.edu.au/maps/campuses/?area=CAMDAR"><i class="fa fa-angle-double-right"></i>Locations</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://plus.google.com/discover"><i class="fa fa-google-plus"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.google.com/gmail" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            </hr>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://sydney.edu.au/" target="_blank">The university of sydney</a></p>
            </div>
        </div>
    </section>
    <!-- ./Footer -->

</section>

<script type="text/javascript">
    $(function () {
        var collection = $(".flag");
        $.each(collection, function () {
            $(this).addClass("start");
        });
    });
    function dj(dom) {
        var collection = $(".flag");
        $.each(collection, function () {
            $(this).removeClass("end");
            $(this).addClass("start");
        });
        $(dom).removeClass("start");
        $(dom).addClass("end");
    }
</script>

<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var trigger = $('.hamburger'),
            overlay = $('.overlay'),
            isClosed = false;

        trigger.click(function () {
            hamburger_cross();
        });

        function hamburger_cross() {

            if (isClosed == true) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
            } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#container').toggleClass('toggled');
        });

        //changing number animation
        $.fn.countTo = function (options) {
            options = options || {};

            return $(this).each(function () {
                // set options for current element
                var settings = $.extend({}, $.fn.countTo.defaults, {
                    from:            $(this).data('from'),
                    to:              $(this).data('to'),
                    speed:           $(this).data('speed'),
                    refreshInterval: $(this).data('refresh-interval'),
                    decimals:        $(this).data('decimals')
                }, options);

                // how many times to update the value, and how much to increment the value on each update
                var loops = Math.ceil(settings.speed / settings.refreshInterval),
                    increment = (settings.to - settings.from) / loops;

                // references & variables that will change with each update
                var self = this,
                    $self = $(this),
                    loopCount = 0,
                    value = settings.from,
                    data = $self.data('countTo') || {};

                $self.data('countTo', data);

                // if an existing interval can be found, clear it first
                if (data.interval) {
                    clearInterval(data.interval);
                }
                data.interval = setInterval(updateTimer, settings.refreshInterval);

                // initialize the element with the starting value
                render(value);

                function updateTimer() {
                    value += increment;
                    loopCount++;

                    render(value);

                    if (typeof(settings.onUpdate) == 'function') {
                        settings.onUpdate.call(self, value);
                    }

                    if (loopCount >= loops) {
                        // remove the interval
                        $self.removeData('countTo');
                        clearInterval(data.interval);
                        value = settings.to;

                        if (typeof(settings.onComplete) == 'function') {
                            settings.onComplete.call(self, value);
                        }
                    }
                }

                function render(value) {
                    var formattedValue = settings.formatter.call(self, value, settings);
                    $self.html(formattedValue);
                }
            });
        };

        $.fn.countTo.defaults = {
            from: 0,               // the number the element should start at
            to: 0,                 // the number the element should end at
            speed: 1000,           // how long it should take to count between the target numbers
            refreshInterval: 100,  // how often the element should be updated
            decimals: 0,           // the number of decimal places to show
            formatter: formatter,  // handler for formatting the value before rendering
            onUpdate: null,        // callback method for every time the element is updated
            onComplete: null       // callback method for when the element finishes updating
        };

        function formatter(value, settings) {
            return value.toFixed(settings.decimals);
        }
    }(jQuery));

    jQuery(function ($) {
        // custom formatting example
        $('.count-number').data('countToOptions', {
            formatter: function (value, options) {
                return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
            }
        });

        // start all the timers
        $('.timer').each(count);

        function count(options) {
            var $this = $(this);
            options = $.extend({}, options || {}, $this.data('countToOptions') || {});
            $this.countTo(options);
        }

        //show slider
        $('#media').carousel({
            pause: true,
            interval: false,
        });

        $("#ser-input").click(function() {
            $('.search-full-view').addClass("search-normal-screen");
        });
        $("#search-close").click(function() {
            $('.search-full-view').removeClass("search-normal-screen");
        });
    });

    // $(document).ready(function() {
    //     $('#media').carousel({
    //         pause: true,
    //         interval: false,
    //     });
    //
    //     $("#ser-input").click(function() {
    //         $('.search-full-view').addClass("search-normal-screen");
    //     });
    //     $("#search-close").click(function() {
    //         $('.search-full-view').removeClass("search-normal-screen");
    //     });
    // });

    $(function() {
        $('#dowebok').simplerSidebar({
            opener: '#toggle-sidebar',
            sidebar: {
                align: 'left',
                width: 250
            }
        });
    });
</script>

</body>
</html>
