<!DOCTYPE html>
<html>
  <head>
    <title> BITVISION </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <header id="header">
        <div class="inner">
            <a href="index.html" class="logo"><img src="images/logo.png" width="120"/></a>
            <nav id="nav">
                <a href="index.ejs">Home</a>
                <a href="home.ejs">Market</a>
                <a href="person.ejs">Personal</a>
            </nav>
        </div>
    </header>

        <section id="banner">
            <div class="inner">
                <header>
                    <a href="index.html" class="logo">
                        <img src="images/logo.png" height="100"/></a>
                </header>
                <footer>
                    <a href="login.ejs" class="button">Log In</a>
                    <a href="signup.ejs" class="button">Sign up</a>
                </footer>
            </div>
        </section>
  </body>
</html>
