<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Cryptocurrency Website">
  <meta name="keywords" content="USYD, website">
  <link href='/stylesheets/style.css' rel='stylesheet'>
  <title><%= title %></title>
</head>

<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<a href="login">Login</a>
<a href="register">Sign Up</a>
</body>
</html>
