<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Setting</title>
    <meta name="description" content="Analysis Website">
    <meta name="keywords" content="USYD, analysis">
    <link href='/stylesheets/home.css' rel='stylesheet'>
    <link href='/stylesheets/signup.css' rel='stylesheet'>
    <link href='/stylesheets/bootstrap-theme.css' rel='stylesheet'>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/javascripts/setting.js" type="text/javascript"></script>
</head>
<body>

<div class="header dark-bg">
    <div href="index" class="logo"><img src="images/logo.png" width="120"/></div>
    <div class="navi">
        <a href="home">Home</a>
        <a href="home.ejs">Market</a>
        <a href="person.ejs">Personal</a>
    </div>

    <div class="nav-collapse">
        <ul class="nav pull-right">

            <li class="">
                <a href="/" class="">
                    Already have an account? Login Now!
                </a>
            </li>

            <li class="">
                <a href="/" class="">
                    <i class="icon-chevron-left"></i>
                    Back to Homepage
                </a>

            </li>
        </ul>

    </div>
</div>


<div class="account-container register">

    <div class="content clearfix">
        <form id="setting" method="POST" onsubmit="return false">

            <h1>Setting</h1>

            <div class="login-fields">
                <!--<p>Create your free account:</p>-->

                <fieldset>
                    <div class="field">
                        <label for="username">Username:</label>
                        <input type="text" name="username" id="username" value="<%=user%>" readonly>
                    </div>

                    <div class="field">
                        <label for="firstname">Firstname:</label>
                        <input type="text" name="firstname" id="firstname" placeholder="Firstname" required>
                    </div>

                    <div class="field">
                        <label for="lastname">Lastname:</label>
                        <input type="text" name="lastname" id="lastname" placeholder="Lastname" required>
                    </div>

                    <div class="field">
                        <label for="password">Old Password:</label>
                        <input type="password" name="password" id="password" placeholder="Old Password">
                    </div>

                    <div class="field">
                        <label for="password">New Password:</label>
                        <input type="password" name="password1" id="password1" placeholder="New Password">
                    </div>

                    <div class="field">
                        <label for="password">Confirm Password:</label>
                        <input type="password" name="password2" id="password2" placeholder="Confirm Password">
                    </div>

                    <div class="field">
                        <label for="email">Email:</label>
                        <input type="text" name="email" id="email" placeholder="Email" required>
                    </div>

                    <div class="preference">
                        <label for="preference">Preference:</label>
                        <select type="text" name="preference" id="preference" class="bbb">
                            <option value="BTC-USD">BTC-USD</option>
                            <option value="BTC-GBP">BTC-GBP</option>
                            <option value="BTC-EUR">BTC-EUR</option>
                            <option value="ETC-USD">ETC-USD</option>
                            <option value="ETC-GBP">ETC-GBP</option>
                            <option value="ETC-EUR">BTC-EUR</option>
                        </select>
                    </div>
                    <br><br>

                    <div>
                        <button type="submit" class="submit" id="submit">Confirm</button>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>

<div class="login-extra">
    Already have an account? <a href="/">Login to your account</a>
</div>

</body>
</html>