
/* Import fonts */
/*@import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);*/
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600";
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css');

body {
    color: #797979;
    background: #eeeeee;
    font-family: 'Lato', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:14px !important;
    height: 100%;
    font-family: 'Avenir', san-serif;

}
h1,h2,h3,h4,h5{
    font-weight: 300;
}
label{
    font-weight: 300;
}
ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
    outline: 0;
}
input:focus, textarea:focus { outline: none; }
table tr th { color: #688a7e;}
*:focus {outline: none;}
::selection {
    background: #688a7e;
    color: #fff;
}
::-moz-selection {
    background: #688a7e;
    color: #fff;
}

/*#container {*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/
.copyrights{
    text-indent:-9999px;
    height:0;
    line-height:0;
    font-size:0;
    overflow:hidden;
}
.Creative-pro, .Creative-pro h3{
    display: block;
    position: fixed;
    bottom:0;
    z-index: 100000;
    width: 100%;
    overflow: hidden;
    height: 50px;
    margin:0px;
}
.Creative-pro h3{
    padding-bottom: 10px;
    padding-top: 10px;
}

#main-content {
    margin-left: 0px;
}

.header, .footer {
    min-height: 60px;
    padding: 0 15px;
}

.box1 {
    font-size: 16px;
    display: inline-block;
    width: 25%;
    padding: .25em .5em;
    margin: 20px 10px 0 0;
}
.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
    font-size: 1.1em;
}
.header a{
    color: white;
}

.header a:hover{
    color: #f6bf76;
}

.navi {
    margin: 20px 0px 0px 150px;
    position: absolute;
    width: 380px;
}

.navi a{
    margin-left: 20px;
    text-decoration: none !important;
}

.nav_bar{
    width: 30%;
}



/*#nav{*/
/*margin: 0;*/
/*padding: 0;*/
/*border: 0;*/
/*font-size: 100%;*/
/*font: inherit;*/
/*vertical-align: baseline;*/
/*}*/

.white-bg {
    background: rgba(255,255,255,0.9);
    border-bottom: 1px solid #f1f2f7;
}

.panel-content{
    padding: 10px;
}
.wrapper {
    display: inline-block;
    margin-top: 60px;
    /*padding: 15px;*/
    width: 100%;
}

.logo {
    font-size: 22px;
    font-weight: 300;
    color: #fed189;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
}

.logo:hover, .logo:focus {
    text-decoration: none;
    outline: none;
}

.logo span {
    color: #688a7e;
}

/*.username:hover{*/
/*background-color: rgba(225, 225,225,225, 0) !important;*/
/*}*/

.col-lg-9 .col-md-12{
    margin-left: auto;
    margin-right: auto;
}

.username{
    margin-right: 30px;
    margin-bottom: 100px;
    display: inline;
    text-decoration: none;
    cursor: pointer;
}

.preference:hover{
    /*color: #fabb3d;*/
    cursor: pointer;
}

.preference .aaa{
    background-color: rgba(0,0,0,0.15);
    color: #ffffff;
    border: none;
}

.preference .bbb{
    background-color: white;
    color:grey;
    -webkit-border-radius: 5px;
    border-color:black;
}

.sidebar-wrapper {
    position: relative;
    height: 100%;
    overflow: auto;
}

.preference{
    display: inline;
    margin-right: 60px;
    cursor: pointer;
}


/*#preference{*/
    /*background-color: transparent;*/
    /*color: #ffffff;*/
    /*border: none;*/
/*}*/

/*#preference:hover{*/
    /*color: #fabb3d;*/
/*}*/

.top-nav{
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.breadcrumb {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 34px;
    position: relative;
    margin: 0 0 19px 0;
    overflow: hidden;
}
.breadcrumb li {
    position: relative;
    margin-right: 0;
}
.breadcrumb li i {
    Font-size: 15px;
    margin-right: 5px;
}
.breadcrumb > .active {
    color: #d4d4d4;
}


.fa img{
    height: 60px;
    padding-left: 50px;
}

row3{
    margin-left: auto !important;
    margin-right: auto !important;
}

.banner_row1{
    /*background-color: #3e424d;*/
    height: 150px;
    width: 100%;
    left: 0;
    right: 0;
    margin-top: 0;
    /*-moz-box-shadow:3px 3px 6px grey;*/
    /*-webkit-box-shadow:3px 3px 6px grey;*/
    /*box-shadow:3px 3px 6px grey;*/
    /*position: fixed;*/
}

.banner_row1 h1{
    color: white;
    text-align: center;
    vertical-align: center;
    padding-top: 30px;
}

.banner_row1 h3{
    text-align: left;
    font-weight: 300;
    font-size: 1.5vw;
    line-height: 20px;
    color: white;
    vertical-align: center;
    overflow: hidden;
    white-space:nowrap;
    padding-top: 20px;
}

.banner_row1 h2{
    text-align: left;
    font-weight: 300;
    font-size: 2vw;
    line-height: 20px;
    color: white;
    vertical-align: center;
    overflow: hidden;
    white-space:nowrap;
    padding-top: 30px;
}

/*.banner_row2{*/
    /*height: 250px;*/
    /*width: auto;*/
    /*text-align: center;*/
    /*!*font-weight: 900;*!*/
    /*!*font-size: 40px;*!*/
/*}*/
/*.banner_row2 h1{*/
    /*margin-top: 100px;*/
    /*text-align: center;*/
    /*vertical-align: center;*/
    /*font-size: 40px;*/
    /*font-weight: bold;*/
    /*color: #3f444e;*/

/*}*/
/*.banner2{*/
    /*width: 100%;*/
    /*height: 800px;*/
    /*background-image: url(../../images/banner.png);*/
    /*background-size: contain;*/


/*}*/


.banner_row3{
    /*background-color: grey !important;*/
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    /*position: absolute;*/

    /*margin: 0px;*/
}
.banner_row3 h1{
    height: 200px;
    /*margin-top: 100px;*/
    text-align: center;
    vertical-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #3f444e;

}



/* .info-box
=================================================================== */
/*#bitlogo{*/
    /*height: 150px;*/
    /*overflow: hidden;*/
    /*padding: 0 !important;*/
    /*width: 600px;*/
/*}*/

.info-box {
    min-height: 140px;
    /*margin-bottom: 30px;*/
    /*padding: 20px;*/
    color: grey;
    border: #2E2E2E 1px;
    margin-left: 10px;
    width: 80%;
    /*margin-top: 20px;*/
    /*-webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);*/
    /*-moz-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);*/
    /*box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);*/
}

.info-box h1{
    padding-top: 80px;
    margin-left: 40%;

}

.info-box h2{
    text-align: left;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 20px;
    color: white;
    vertical-align: center;
    overflow: hidden;
    white-space:nowrap;
}

.info-box .img2 {
    display: block;
    height: 100%;
    font-size: 60px;
    line-height: 100px;
    width: 20%;
    float: left;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    margin: 0px;
}

.info-box .img1 {
    display: block;
    /*height: 80%;*/
    font-size: 60px;
    line-height: 100px;
    /*width: 100%;*/
    float: left;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    margin: 0px;
    overflow: hidden;
}


.info-box #type{
    /*margin-right: 0;*/
    font-size:1.3em;
    font-weight: 300;
    text-align: right;
    color: #2E2E2E;
    width: 80%;
    height: 10%;
    float: right;
}
/*.info-box #price {*/
    /*font-size: 1.5em;*/
    /*font-weight: 500;*/
    /*text-align: right;*/
    /*color: #2E2E2E;*/
    /*width: 80%;*/
    /*height: 30%;*/
    /*float: right;*/

/*}*/
.info-box .price {
    font-size: 1.5em;
    font-weight: 500;
    text-align: right;
    color: #2E2E2E;
    width: 80%;
    height: 30%;
    float: right;

}
/*.info-box #volume{*/
    /*font-size: 1em;*/
    /*font-weight: 200;*/
    /*text-align: right;*/
    /*color: #2E2E2E;*/
    /*height: 2em;*/
    /*horiz-align: right;*/
    /*width: 80%;*/
    /*height:60%;*/
    /*float: right;*/

/*}*/
.info-box .volume{
     font-size: 1em;
     font-weight: 200;
     text-align: right;
     color: #2E2E2E;
     height: 5em;
     /*width: 253px ;*/
     horiz-align: right;
     width: 80%;
     /*height:60%;*/
     float: right;

 }
.info-box .pricetitle {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}
.info-box .desc {
    margin-top: 10px;
    font-size: 12px;
}





/*}*/
/*----------------	color------------------------*/
.dark-heading-bg {
    background: #4c4f53;
    border: 1px solid #4c4f53;
}

.dark-bg {
    color : #fff;
    background : #16161c;
    box-shadow: white;
    /*background-color : #1a2732;*/
    -moz-box-shadow:3px 3px 6px #16161c;
    -webkit-box-shadow:3px 3px 6px #16161c;
    box-shadow:3px 3px 6px #16161c;}
/*.facebook-bg {*/
/*color: #fff;*/
/*background: #3b5998;*/
/*background-color : #3b5998;*/
/*}*/
/*.twitter-bg {*/
/*color: #fff;*/
/*background: #00aced;*/
/*background-color : #00aced; */
/*}*/
/*.linkedin-bg {*/
/*color: #fff;*/
/*background: #4875b4;*/
/*background-color : #4875b4;  */
/*}*/

/*----------------------	panel-----------------*/
.panel {
    border:none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}
.panel .panel-heading {
    line-height: 34px;
    padding: 0 15px;
    min-height: 34px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    position: relative;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
}
.panel .panel-heading .panel-title {
    line-height: 40px;
}
.panel .panel-heading i {
    width: 30px;
    display: inline-block;
    font-size: 14px;
    border-right:1px solid #e6e6e6 ;
}
.panel .panel-heading ul li {
    border-top:1px solid #e6e6e6 ;
    border-left:1px solid #e6e6e6 ;
    border-right:1px solid #e6e6e6 ;
}
.panel .panel-heading h2 {
    height: 100%;
    width: auto;
    display: inline-block;
    font-size: 14px;
    position: relative;
    margin: 0;
    line-height: 34px;
    font-weight: 400;
    letter-spacing: 0;
}
.panel .panel-heading .panel-actions {
    float: right;
    margin-right: -15px;
    height: 40px;
    font-size: 0;
}
.panel .panel-heading .panel-actions i {
    display: inline-block;
    text-align: center;
    width: 34px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
    font-size: 14px;
}
.panel .panel-heading .panel-actions a {
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    line-height: 32px;
    padding: 0;
    margin: 0;
    color: #333;
    border-left: 1px solid rgba(0,0,0,.09);
}
.panel-actions .btn-setting:hover,
.panel-actions .btn-minimize:hover,
.panel-actions .btn-close:hover {
    background-color: rgba(0,0,0,.05);
}
.panel .panel-heading .switch {
    margin: 10px;
}
.panel .panel-body {
    border-width: 1px 1px 2px;
    border-style: solid;
    border-top: none;
    margin-top: 800px;
    border-right-color: #ccc !important;
    border-bottom-color: #ccc !important;
    border-left-color: #ccc !important;
}

.panel .panel-body-map {
    border-width: 1px 1px 2px;
    border-style: solid;
    background:#eef3f7;
    height:600px;
    border-top: none;
    border-right-color: #ccc!important;
    border-bottom-color: #ccc!important;
    border-left-color: #ccc!important;
}
.panel .panel-body-map #map{
    width: 100%;
    height: 100%;
    position: relative;
}

.panel .panel-body.no-padding {
    padding: 0;
}
.panel .panel-body.padding-horizontal {
    padding: 0 15px;
}
.panel .panel-body.no-padding-bottom {
    padding-bottom: 0;
}
.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.panel .panel-footer {
    border-width: 0 1px 2px 1px;
    border-style: solid;
    border-top: none;
    border-right-color: #ccc!important;
    border-bottom-color: #ccc!important;
    border-left-color: #ccc!important;
    position: relative;
}
.panel.panel-default {
    border-radius: 0px;
    margin-top: 100px;
    border-top: 1px solid #d4d4d4;
    -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);

}

.panel.panel-default.panel-heading {
    background: #97d3c5;
}
.panel.panel-default .panel-footer {
    background: #f5f5f5;
}
.panel.panel-primary {
    border-color: #20a8d8;
}
.panel.panel-primary .panel-heading,
.panel.panel-primary .panel-footer {
    background: #5dc3e7;
    color: #092f3d;
    border-color: #20a8d8;
}
.panel.panel-success {
    border-color: #79c447;
}
.panel.panel-success .panel-heading,
.panel.panel-success .panel-footer {
    background: #a3d781;
    color: #284315;
    border-color: #79c447;
}
.panel.panel-info {
    border-color: #67c2ef;
}
.panel.panel-info .panel-heading,
.panel.panel-info .panel-footer {
    background: #acdef6;
    color: #106894;
    border-color: #67c2ef;
}
.panel.panel-warning {
    border-color: #fabb3d;
}
.panel.panel-warning .panel-heading,
.panel.panel-warning .panel-footer {
    background: #fcd588;
    color: #815703;
    border-color: #fabb3d;
}
.panel.panel-danger {
    border-color: #ff5454;
}
.panel.panel-danger .panel-heading,
.panel.panel-danger .panel-footer {
    background: #ffa1a1;
    color: #a10000;
    border-color: #ff5454;
}

/*.buttons button{*/
/*margin-top:10px;*/
/*}*/

/** Google maps *!*/

.gmap iframe{
    width: 100%;
    margin: 0px;
    padding: 0px;
}


.panel-footer.revenue-foot ul  {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-flex;
}

.panel-footer.revenue-foot ul li {
    float: left;
    width: 33.33%;
}

.panel-footer.revenue-foot ul li.first a:hover, .panel-footer.revenue-foot ul li.first a {
    -webkit-border-radius: 0px 0px 0px 4px;
    border-radius: 0px 0px 0px 4px;
}

.panel-footer.revenue-foot ul li.last a:hover, .panel-footer.revenue-foot ul li.last a {
    -webkit-border-radius: 0px 0px 4px 0px;
    border-radius: 0px 0px 4px 0px;
    border-right: none;

}

.panel-footer.revenue-foot ul li a{
    display: inline-block;
    width: 100%;
    padding: 14px 15px;
    text-align: center;
    border-right: 1px solid #d5d8df;
    color: #797979;
}

.panel-footer.revenue-foot ul li a:hover, .panel-footer.revenue-foot ul li.active a {
    background: #fff;
    position: relative;
}

.panel-footer.revenue-foot ul li a i {
    color: #c6cad5;
    display: block;
    font-size: 16px;
}
.panel-footer.revenue-foot ul li a:hover i, .panel-footer.revenue-foot ul li.active a i {
    color: #688a7e;
    display: block;
    font-size: 16px;
}



@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";

/*-------------------------------*/
/*           VARIABLES           */
/*-------------------------------*/
/*body {*/
/*position: relative;*/
/*overflow-x: hidden;*/
/*}*/
/*body,*/
/*html {*/
/*height: 100%;*/
/*background-color: #583e7e;*/
/*}*/
.nav .open > a {
    background-color: transparent;
}
.nav .open > a:hover {
    background-color: transparent;
}
.nav .open > a:focus {
    background-color: transparent;
}
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#container {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    padding-left: 0;
    transition: all 0.5s ease;
}
#container.toggled {
    padding-right: 300px;
}
#container.toggled #sidebar-wrapper {
    width: 300px;
}
#container.toggled #page-content-wrapper {
    margin-left: -300px;
    position: absolute;
}
#sidebar-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    height: 100%;
    right: 300px;
    position: absolute;
    background-color: transparent;
    margin-right: -300px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.5s ease;
    width: 0;
    z-index: 1000;
}
#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}
#page-content-wrapper {
    padding-top: 70px;
    width: 100%;
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    /*width: 300px;*/
    z-index: 10001;
    /*background-color: #646872;*/
    height: 100%;
}

.sidebar-nav li {
    display: inline-block;
    line-height: 20px;
    position: relative;
    width: 100%;
}
.sidebar-nav li:before {
    /*background-color: #fabb3d;*/
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
}
.sidebar-nav li:first-child a {
    background-color: #434954;
    color: #ffffff;
}
.sidebar-nav li:nth-child(2):before {
    background-color: rgba(0,0,0,0.15);
}
.sidebar-nav li:nth-child(3):before {
    background-color: rgba(0,0,0,0.15);
}
.sidebar-nav li:nth-child(4):before {
    background-color: rgba(0,0,0,0.15);
}
.sidebar-nav li:nth-child(5):before {
    background-color: rgba(0,0,0,0.15);
}
.sidebar-nav li:nth-child(6):before {
    background-color: rgba(0,0,0,0.15);
}
/*.sidebar-nav li:nth-child(7):before {*/
    /*background-color: #434954;*/
/*}*/
/*.sidebar-nav li:nth-child(8):before {*/
    /*background-color: #434954;*/
/*}*/
/*.sidebar-nav li:nth-child(9):before {*/
    /*background-color: #434954;*/
/*}*/
.sidebar-nav li:hover:before {
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 100%;
}
.sidebar-nav li a {
    color: #48515b;
    display: block;
    /*padding: 10px 15px 10px 30px;*/
    text-decoration: none;
}
.sidebar-nav li.open:hover before {
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 100%;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    background-color: transparent;
    /*color: #ffffff;*/
    color: black;
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    font-size: 20px;
    height: 65px;
    line-height: 44px;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {
    background: transparent;
    border: none;
    display: block;
    height: 32px;
    /*margin-left: 15px;*/
    right: 25px;
    position: fixed;
    top: 20px;
    width: 32px;
    z-index: 199999;
}
.hamburger:hover {
    outline: none;
}
.hamburger:focus {
    outline: none;
}
.hamburger:active {
    outline: none;
}
.hamburger.is-closed:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px;
}
.hamburger.is-closed:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1;
}
.hamburger.is-closed:hover .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    top: 0;
}
.hamburger.is-closed:hover .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    bottom: 0;
}
.hamburger.is-closed .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
    top: 5px;
}
.hamburger.is-closed .hamb-middle {
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: -2px;
    top: 50%;
}
.hamburger.is-closed .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
    bottom: 5px;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    height: 4px;
    right: 0;
    position: absolute;
    width: 100%;
}
.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    background-color: #ffffff;
    margin-top: -2px;
    top: 50%;
}
.hamburger.is-open .hamb-middle {
    background-color: #ffffff;
    display: none;
}
.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    background-color: #ffffff;
    margin-top: -2px;
    top: 50%;
}
.hamburger.is-open:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px;
}
.hamburger.is-open:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1;
}
/*-------------------------------*/
/*          Dark Overlay         */
/*-------------------------------*/
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.tab{
    table-layout: fixed;
    width:90%;
    word-break: break-all;
    word-wrap: break-word;//表格固定布局
}
/*??????????*/
td{
    width:100px;             /*单元格宽度*/
    /*height:50px;             !*单元格高度*!*/
    text-align:left;       /*单元格文字居中对齐*/
}
.award-name{
    /*-o-text-overflow:ellipsis;*/
    /*text-overflow:ellipsis;*/
    /*overflow:hidden;*/
    /*white-space:nowrap;*/

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    align:left;
    width:100%;
}

.tr1{
    height: 30px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;

}

.tr2{
    height: 70px;
    font-size: 12px;
}

/*}*/

.tab #co1{
    align:"left";
    width:30%;
}

.tab #co1 img{
    width: 70%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    horiz-align: center;
    margin-left: 10%;
}

#title0, #title1, #title2, #title3, #title4{
    padding-top: 10px;
}
/* carousel */
.media-carousel
{
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left
{
    left: -12px;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right
{
    right: -12px !important;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
    background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
    background: #333333;
}

.tu{
    /*margin: 0 10px;*/
    margin: 5px 0 10px 10px;
    width: 20px;

}

.but{
    border-color: transparent;
    background: transparent;
    margin-top: 5px;
    margin-left: 30px;
    text-align: center;
    vertical-align: center;
    width: 10%;

}

.but:hover
{
    color: #fff;
    border-color: rgba(63,68,78,0.8);
    background: rgba(63,68,78,0.8);
    border: none;
    -webkit-border-radius: 5px;
    height: 36px;

}

.start
{
    cursor: pointer;
}

.end
{
    cursor: pointer;
    color: #fff;
    border-color: rgba(63,68,78,0.8);
    background: rgba(63,68,78,0.8);
    border: none;
    -webkit-border-radius: 5px;
    height: 36px;

}
/* End carousel */

/* Footer */
/*section {*/
/*padding: 30px 0;*/
/*}*/

#footer {
    background: #28282e !important;
    margin-top: 60px;
    padding: 10px 0;
}

#footer h2 {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer p a{
    color: #c0c0c0 !important;
    /*text-indent: 5%;*/
}

#footer p{
    color: #c0c0c0;
    font-size: 100%;
}

#footer ul.social li{
    padding: 3px 5px;
}
#footer ul.social li a i {
    margin-right: 10px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.social li:hover a i {
    font-size:30px;
    margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
    color:#ffffff;
    font-size:120%;

}
#footer ul.social li a:hover{
    color:#eeeeee;
}
#footer ul.quick-links li{
    padding: 10px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:700;
}
#footer ul.quick-links li a
i{
    margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

.ser-input{
    border-color: transparent;
    border-bottom-color: #fff;
    color: #fff;
}
.ser-input:focus {
    border-color: transparent;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.search-full-view {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(0, 0, 0);
    opacity: 0;
    z-index: -1;
    transition: .5s all;
    transform: scale(0);
}
.search-full-view.search-normal-screen {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
    margin-top: 60px;
}

.search-full-view .input-group {
    width: 75%;
    margin: 0 auto;
    top: 20%;
    height: 100px;
}

.search-full-view .input-group .form-control {
    background: transparent;
    border-bottom: 2px solid #fff;
    font-size: 6em;
    padding: 10px;
    vertical-align: unset;
    color: #cdcdcd;
}
.search-full-view .input-group .form-control:focus{
    border-color: #fff;
    border:0 !important;
    border-bottom: 2px solid #fff !important;
}
.search-full-view .input-group .input-group-addon {
    background: transparent;
    font-size: 4em;
    color: #fff;
    border: 0;
    cursor: pointer;
}
.search-full-view .btn-close {
    background: transparent;
    border: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.search-full-view .btn-close img { width: 60px; }

.container_dad {
    background: url("/images/earth.gif");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    height: 100%;
    padding-top: auto;
    padding-bottom: auto;
}

.container_dad:before {
    content: '';
    background: rgba(75, 75, 93, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.fig {
    color: #fcfcfc;
    font-family: 'Avenir', san-serif;
    font-weight: 400;
    font-size: 4em;
    text-align: center;
    border-radius: 30px;
    display: inline-block;
    padding: 15px;
    width: 250px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;

}

.fig:hover {
    border-radius: 30px;
    color:#2b2b2b;
    background: rgba(255,255,255,0.5);
    cursor: pointer;
    text-decoration: none;
}