html{
	background-color:#FFF;
}
form {
    width: 800px;
    height: 400px;
    margin: 30px auto;
    padding-top: 50px;
    color: #000;
}

legend {
    margin: auto;
    font-size: 2em;
    font-weight: bold;
    font-family: Papyrus, "Curlz MT", fantasy;
    color: rgb(254,106,7);
}

.field {
	line-height: 2em;
	margin: 0.8em 0 0;
	text-align: justify;
}

form label {
	width: 320px;
	display: inline-block;
	vertical-align: top;
    margin-left: 50px;
    font-size: 1.2em;
}

fieldset {
    margin: 40px auto;
    width:700px;
    border: 1px solid #999;
    padding: 15px 0;
}

form input[type="text"],
form input[type="password"]{
	width: 180px;
    height: 1.8em;
	border: 1px solid #999;
	padding: 3px;
}

button[type="submit"],
button[type="reset"],
button[type="register"]{
    width: 100px;
    height: 30px;
    margin: 40px 5px 40px;
}

button[type="submit"]{
    margin-left: 300px;
}

button[type="submit"]:hover,
button[type="reset"]:hover,
button[type="register"]:hover{
    background-color: rgb(71,163,253);
    border-style: none;
}

.field>a{
	color:#000;
	line-height:1.2em;
}

.field>a:hover{
    color: rgb(71,163,253);
    border-style: none;
}