body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html{
    background-color: rgb(32,38,43);
    color: #FFF;
}

ul,
ol {
    list-style: none;
}

a:link{
    color: #FFF;
    text-decoration: none;
}

a:visited{
    color: #FFF;
}

.login{
    text-align: right;
    font-family:  "Lobster", cursive, Arial, sans-serif;
    margin-bottom: -40px;
    padding: 30px 100px 0 0;
}

.login a:hover{
    text-decoration: underline;
    color: rgb(254,106,7);
}

.block{
    width: 50%;
    color: #000;
    background-color: #FFF;
    margin: 10px 0;
}

table{
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}